<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Mapper &ndash; Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/android-chrome-512x512.png') }}">
</head>
<body>
<!-- Upload area -->
<div class="splash-container">
    <div class="splash">
        <h1 class = "splash-subhead">Upload a Site Map</h1>
        <form method="post" class = "splash-head" action ="/view" enctype="multipart/form-data">
            <input type="file" name="burp_site_map"><br>
            <br>
            <input class = "pure-button" type="submit" value="View in Site Mapper">
        </form>
    </div>
</div>

<div class="footer l-box is-center">
    Written by Jackson Thellin.&nbsp;&nbsp;&nbsp;&nbsp; &#8226;  &nbsp;&nbsp;&nbsp;&nbsp;         
    <a href="/about" style="left:100px;color: white;">About</a>
</div>
</body>
</html>