<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Mapper &ndash; View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/android-chrome-512x512.png') }}">
</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <div class="box">
        <div class = "box-cell box3">
          <a class="pure-menu-heading" href="/">Upload</a>
        </div>
        <div class = "box-cell box4">
          <a style="color:rgb(255, 255, 255); font-family: Verdana, sans-serif; font-size: 12px; padding: 5px;" id = "hostname">&nbsp;{{data.host}}&nbsp;</a>
        </div>
      </div>
    </div>
</div>

<!---Site Map Graph-->
<div class = "box">
  <div class = "left">
    <a style="color:dimgrey;font-size: 10px;position: absolute; position: absolute; top: 39px; margin:3px;">Site map exported on {{data.date}}<br>Burp Suite version {{data.version}}</a>
    <svg id="tree-container" xmlns="http://www.w3.org/2000/svg"></svg>
  </div>

  <!---Request Details-->
  <div class = "right">
    <h3 style="color:black; padding: 5px;" id="selectedRequest"></h3>
    <h4 style="margin-bottom: 0.1em; margin-top: 0.1em" id = "parameterLabel"></h4>
    <h4 style = "background-color: #ebebeb;margin-bottom: 0.1em; margin-top: 0.1em" id = "selectedParams"></h4>
    <h5 style="margin-bottom: 0.1em;margin-top: 0.1em" id = "contentLabel"></h5>
    <h5 style="background-color: #ebebeb;margin-bottom: 0.1em; margin-top: 0.1em" id = "content_type"></h5>  
    <div class="box" id ="hasVulns" style="display: none;">
      <h4 style="margin-bottom: 0.1em; margin-top: 2em" id = "vulnerabilityLabel">Vulnerabilites: </h4>
      <div class = "vulnerabilities" style="background-color: #ebebeb;margin-bottom: 0.1em; margin-top: 0.1em;padding:10px" id="vulnerabilitiesID">
        <div id="containerVuln" class="containerVuln" style="margin-bottom: 0.1em;margin-top: 0.1em">&nbsp;</div>
      </div>
    </div>
    <h5 style="margin-bottom: 0.1em;margin-top: 0.1em" id = "notesLabel"></h5>
    <textarea maxlength="5000" type="text" class="notes" id="notes" style="background-color: #ebebeb;margin-bottom: 0.1em; margin-top: 0.1em"></textarea>
  </div>
</div>

<div class="footer l-box is-center">
  Written by Jackson Thellin.&nbsp;&nbsp;&nbsp;&nbsp; &#8226;  &nbsp;&nbsp;&nbsp;&nbsp;         
  <a href="/about" style="left:100px;color: white;">About</a>
</div>

<!-- Request context menu -->
<div class="context-menu" id = "request-context-menu">
  <a id="openRequest" class="context-menu__link" style="cursor: pointer;">View full request</a>
  <a id="col_exp_Request" class="context-menu__link" style="cursor: pointer;">Collapse/Expand request</a>
  <a id="addVuln" class="context-menu__link" style="cursor: pointer;">Add Finding</a>
  <div class = "color-menu" id="color-menu">
    <button class = "color" id="#ff0d00" style="background-color: #ff0d00;"> </button>
    <button class = "color" id="#ff9100" style="background-color: #ff9100;"> </button>
    <button class = "color" id="#00e40b" style="background-color: #00e40b;"> </button>
    <button class = "color" id="#1100ff" style="background-color: #1100ff;"> </button>
    <button class = "color" id="#e367ff" style="background-color: #e367ff;"> </button>
    <button class = "color" id="#000000" style="background-color: #000000;"> </button>
  </div>
  <hr>
  <a id="removeRequest" class="context-menu__link" style="cursor: pointer;">Remove request</a>
</div>


<!-- General context menu -->
<div class="context-menu" id = "general-context-menu">
  <a id="expandAll"  class="context-menu__link" style="cursor: pointer;">Expand all</a>
  <a id="collapseAll"  class="context-menu__link" style="cursor: pointer;">Collapse all</a>
  <a id="redactSensitiveInformation" class="context-menu__link" style="cursor: pointer;">Redact sensitive information</a>
  <a id="removeRequestsWithoutParams" href="/removeRequestsWithoutParams" class="context-menu__link" style="cursor: pointer;">Remove requests without parameters</a>
  <hr>
  <a id="saveSMAP" class="context-menu__link" style="cursor: pointer;">Save as SMAP</a>
  <a id="saveImage" class="context-menu__link" style="cursor: pointer;">Save as PNG</a>
  <a id="saveSVG"  class="context-menu__link" style="cursor: pointer;">Save as SVG</a>
</div>

<!-- Vulnerability context menu -->
<div class="context-menu" id = "vulnerability-context-menu">
  <a id="removeVulnMenu"  class="context-menu__link" style="cursor: pointer;">Remove Finding</a>
  <a id="addVulnMenu"  class="context-menu__link" style="cursor: pointer;">Add Finding</a>
</div>

</body>
  <!--d3 js library for drawing graph-->
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8" type="text/javascript"></script>
  <!--For displaying http requests-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.13.1/beautify.min.js" type="text/javascript"></script>
  <!-- Pass graph root and host to view.js -->
  <script type="text/javascript">
    var graphRoot = '{{ data.root | tojson | safe}}';
    var host = '{{data.host}}';
    var creationDate = '{{data.date}}';
    var creationVersion = '{{data.version}}';
    var isSMAP = '{{data.isSMAP}}';
    var onlyParams = '{{data.onlyParams}}';
    var redacted = '{{data.redacted}}';
  </script>
  <!--Scripts for rendering graph and interaction-->
  <script src="{{url_for('static',filename='scripts/viewRender.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static',filename='scripts/viewInteraction.js')}}" type="text/javascript"></script>
</html>